header {
  width: 100%;
  padding: 0 15px;
  display: flex;
  border-bottom: 1px solid grey;
}

header .logo {
  width: 15%;
  max-width: 15%;
  float: left;
  display: inline-flex;
}
header .logo img {
  height: 4rem;
}

header nav {
  width: 85%;
  max-width: 85%;
  float: right;
  display: inline-flex;
}

header nav ul {
  float: right;
}

header nav ul li {
  display: inline-block;
  padding: 5px 10px;
}

.blog {
  border: 1px solid red;
  padding: 15px;
  margin: 15px;
}

.blog .posts {
  width: 100%;
  display: flex;
}

.blog .posts .post {
  width: 50%;
  display: inline-flex;
  border: 1px solid turquoise;
}
